<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <title>Jinja2 Demos</title>
</head>
<div class="container">
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
   
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/variables">variable example</a></li>
        <li class="active"><a href="/loops">loop example</a></li>
        <li><a href="/conditionals">conditionals example</a></li>
        <li><a href="./blocks">blocks example</a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
    {% for person in people %}
    <p>The age of <b>{{person.name}}</b> is <b>{{person.age}}</b>   
    {% endfor %}    
   
</div>
</div>
</body>

</html>
